[2016-04-11 07:53] DawnyWu opened #1 "I can't run it on local"
![image](https://cloud.githubusercontent.com/assets/949508/14420195/2b1802d0-fffd-11e5-8058-637e5306acfd.png)

I've got my client id and edit authentification.js file
npm start tells me `can't get /`

[2016-04-11 08:38] rwieruch commented on #1
@DawnyWu can you follow the install steps again with a fresh clone? I forgot to commit a file. It should work now.

[2016-04-11 08:38] rwieruch commented on #1
@DawnyWu Make sure you use http://localhost:8080/callback as Redirect URI in your soundcloud app.

[2016-04-11 09:52] DawnyWu commented on #1
It works!!! 😄  Thank you

[2016-04-11 09:57] #1 closed

[2016-07-08 15:48] rwieruch opened #3 "Feature Proposal: Player with Duration Bar"
At this time, once you want to listen to a track, you only get to see a backward, a play/pause and a forward button in the player.

<img width="566" alt="screen shot 2016-07-08 at 17 39 43" src="https://cloud.githubusercontent.com/assets/2479967/16692967/656df554-4533-11e6-8349-423c813303c2.png">

But most of the audio player come with a progress bar and a current time to indicate the playback tim

[2016-07-08 15:51] rwieruch opened #4 "Feature Proposal: Play next Track once the current Track finished"
Although FaveSound comes with a Playlist, it doesn't automatically play the track in queue after the previous track finished. That's because nobody keeps track of the duration of a playing track. It would be cool to have the next track automatically playing after the current track ends. Before it would be helpful to implement https://github.com/rwieruch/favesound-redux/issues/3.

[2016-07-08 15:59] rwieruch opened #5 "Feature Proposal: Mini Profile Popover"
There is no extra page to see the whole profile of an user. In my opinion there shouldn't be one, because it would clutter more and more the app without having a real use case for it. I think FaveSound does quite well only with one visually minimal page where one can look up easily new tracks and play them.

But at the end it would be cool to have some mini profile popover with a bigger picture an

[2016-07-08 16:04] rwieruch opened #6 "Feature Proposal: Volume"
It would be cool to adjust the volume from within the player! The volume from 0 to 100 could be saved in the global state. Moreover it could have a mute state when you click the button.

<img width="649" alt="screen shot 2016-07-08 at 18 02 58" src="https://cloud.githubusercontent.com/assets/2479967/16693636/5e4f9c48-4536-11e6-9fcf-a34f740472d9.png">

Player component `src/components/Player` where

[2016-07-08 16:10] rwieruch opened #7 "Feature Proposal: Shuffle Playlist"
There could be a button in the player which allows you to toggle the shuffle mode. You could easily save this in the global redux state. Once it is set to shuffled, you only need to make sure that the next played track is a random track from the playlist.

Player component `src/components/Player` where you would have to place the Shuffle Button. It has to fire a new action via src/actions/player t

[2016-08-30 07:05] #6 closed

[2016-08-30 07:05] #7 closed

[2016-09-18 12:22] aranajhonny opened #10 "have you thought about turning it into application desktop electron?"

[2016-09-19 09:23] rwieruch commented on #10
Yes I thought about it. Would be cool to have, but the setup would have to be somehow separate to the web app, that newcomers in React+Redux don't get overwhelmed by all configurations.

[2016-10-07 16:16] #10 closed

[2016-11-20 00:00] zyam opened #11 "Implement a 'share' song feature"
At the bottom left of the playing track there should be a button or link that when clicked, copies the link of the soundcloud track currently being played. This allows users to easily paste and share the link with friends.

[2016-11-20 11:21] rwieruch commented on #11
Thanks @zyam It's merged! Great and very useful addition 👍

[2016-11-20 11:23] #11 closed

[2017-01-19 04:49] C-Rodg commented on #3
I've created a simple duration bar for the application. PR #15

[2017-01-25 08:53] #5 closed

[2017-01-25 08:54] rwieruch commented on #3
Such a great addition, thanks @C-Rodg 👍

[2017-01-25 08:54] #3 closed

[2017-02-04 04:39] konamax123 commented on #3
Hey, just pulled down this repo but I do not see this implementation in the player. Any reason why not?

[2017-02-15 12:49] #4 closed

[2017-02-16 02:29] MiniPekka opened #18 "Need help: Error occurs when trying to run command npm start"
Hi guys, I tried to run the app locally, after I clone the git repo, the 'npm install' worked just fine but when I ran 'npm start' I got the following output, I am using a Mac OS X with node version: 7.5.0 and npm 4.2.0. Not sure what is going on here.

[code]

[2017-02-16 04:15] chriszhangusc commented on #18
OK, after switching my node version to 6.9.5 by [nvm](https://github.com/creationix/nvm#installation), everything seems to be fine now.

[2017-02-16 06:15] MiniPekka opened #20 "Playlist icon does not display right in firefox"
Firefox version: 51.0.1
In firebox:
<img width="91" alt="screen shot 2017-02-15 at 10 15 21 pm" src="https://cloud.githubusercontent.com/assets/15867071/23009700/42c66d2c-f3cc-11e6-86c3-1a387c0d954e.png">

It should be like:
<img width="114" alt="screen shot 2017-02-15 at 10 14 46 pm" src="https://cloud.githubusercontent.com/assets/15867071/23009679/2e3806c2-f3cc-11e6-8b0c-bbf6d3ed4d55.png">

[2017-02-16 07:27] rwieruch commented on #20
Oh damn @MiniPekka , I didn't notice that. Would you take care of it? :)

[2017-02-16 07:29] rwieruch commented on #18
@MiniPekka I had the same problem, because I switch node versions a lot. Anything we could do against it? In a dreamworld it would work for everyone.

[2017-02-16 07:53] rwieruch commented on #20
https://github.com/rwieruch/favesound-redux/pull/21

[2017-02-16 07:53] #20 closed

[2017-02-16 16:39] chriszhangusc commented on #18
@rwieruch After some research I have found out it was the version of sass-node that caused the incompatibility with node 7 when trying to run npm start, my solution would be upgrade node-sass to 3.8.0. It also gets rid of those cpp compiling warnings when we do npm install.

[2017-02-17 07:15] rwieruch commented on #18
https://github.com/rwieruch/favesound-redux/pull/22

[2017-02-17 07:35] rwieruch commented on #18
Seems to be a general problem with Sass and changing Node environment. You can run `npm rebuild node-sass`.

Issue: https://github.com/sass/node-sass/issues/1527

[2017-02-17 08:18] MiniPekka opened #23 "Minor: Playlist UI issue"
When the user add more music into the playlist, the last one would not be fully displayed like this:
<img width="443" alt="screen shot 2017-02-17 at 12 09 33 am" src="https://cloud.githubusercontent.com/assets/15867071/23057729/5b8927ca-f4a6-11e6-905b-392e091f28e9.png">

After:
<img width="577" alt="screen shot 2017-02-17 at 12 10 02 am" src="https://cloud.githubusercontent.com/assets/15867071/230

[2017-02-17 16:17] chriszhangusc commented on #23
#24

[2017-02-17 17:13] #23 closed

[2017-03-13 08:44] ryu047 opened #25 "Menu List Item is not seen until you click favesound home buttom"
Menu List of Genres are not seen when you first open the app. When you click favesound home, it's visible

[2017-04-01 10:41] rwieruch commented on #25
Thank you @ryu047 👍

[2017-04-01 10:42] rwieruch commented on #25
resolved in: https://github.com/rwieruch/favesound-redux/pull/26

[2017-04-01 10:42] #25 closed

[2017-05-16 02:17] kafisher opened #27 "Feature Proposal: Automatically play next song in stream"
Right now only the next song in a playlist will be played automatically, but stops after the playlist finishes. I propose the player should keep always play a continuous stream of music and automatically play the next song in the stream if the playlist finishes or if you didn't create a playlist.

[2017-05-16 07:24] rwieruch commented on #27
Sounds great! Would you try to implement it?

[2017-05-16 16:16] kafisher commented on #27
Sure I'll get started soon.

[2017-05-23 20:26] jasonkwong11 opened #28 "Feature Proposal: add time passed to nav"
I propose we add a feature to indicate the time passed after a song begins. This would be located in the bottom nav, similar to how SoundCloud handles it:

<img width="539" alt="screen shot 2017-05-23 at 4 26 23 pm" src="https://cloud.githubusercontent.com/assets/17104743/26374808/976b96e6-3fd4-11e7-95f0-4fde2089db92.png">

[2017-05-23 20:30] rwieruch commented on #28
Sounds pretty cool! Would you go for it?

[2017-05-23 20:37] jasonkwong11 commented on #28
Sure!

[2017-05-26 08:36] rwieruch opened #30 "Bug: Volume Slider doesn't close"
The Volume Slider that is attached to the Player in the bottom doesn't close when the Player closes. However, that should be the case. It should be the same as the Playlist that is attached to the Player  which disappears when the Player disappears.

<img width="1413" alt="screen shot 2017-05-26 at 10 29 22" src="https://cloud.githubusercontent.com/assets/2479967/26487286/2dfc7b58-41ff-11e7-9fb9-a

[2017-05-26 08:37] rwieruch opened #31 "Bug: Volume Slider shows String"
There is an UI glitch where the Volume Slider shows the value of the volume somewhere in between.
<img width="108" alt="screen shot 2017-05-26 at 10 29 16" src="https://cloud.githubusercontent.com/assets/2479967/26487321/543c6b98-41ff-11e7-938d-c46e76c49ed2.png">

[2017-05-26 08:45] rwieruch opened #32 "Enhancement: Upgrade React Router to its Latest Version"
React Router has a lot of breaking changes when using the latest version. Maybe it would be a great PR to upgrade react-router (perhaps also react-redux-router or even get rid of it) to its latest version.

[2017-05-27 18:01] prasim commented on #31
https://github.com/rwieruch/favesound-redux/pull/33

[2017-05-27 23:15] rwieruch commented on #31
Thank you very much! 👍

[2017-06-06 12:38] MiniPekka opened #36 "Errors: A bunch of errors caused by Waveform"
<img width="752" alt="favesound_waveform" src="https://cloud.githubusercontent.com/assets/15867071/26829347/13617a22-4a7a-11e7-9fc7-5f75d313878f.png">
This happened when I first loaded the app, I tried to remove the WaveformSc component from stream.js and the errors disappeared. I will look into this later today.

[2017-06-06 13:00] rwieruch commented on #36
Yes. I guess SoundCloud changed something when you are not logged in. When you log in, I think it might work. But still would be good to investigate this issue, thanks!

[2017-06-06 13:00] MiniPekka opened #37 "Failed to play song"
<img width="874" alt="screen shot 2017-06-06 at 5 39 01 am" src="https://cloud.githubusercontent.com/assets/15867071/26830313/4ebe368e-4a7d-11e7-97c5-da6b0fb7b5c3.png">

This happens when I try to play a song. I think this may be related to too many requests have been made under one client_id, should we use an alternative client_id?

[2017-06-06 13:24] MiniPekka commented on #30
How to close the player?  I can not reproduce this error lol.

[2017-06-06 20:20] rwieruch commented on #30
Fixed in https://github.com/rwieruch/favesound-redux/pull/39 by @MiniPekka 🎉

[2017-06-06 20:20] #30 closed

[2017-06-06 20:22] rwieruch commented on #37
Yes, I think since the client_id is public, people might use it for their own projects... Maybe I would see the currently used client_id as deprecated and advice people in the README.md installation guide to use their own and how to apply at SoundCloud for it? Would you know another solution to the problem @MiniPekka ? Thanks for bringing this up.

[2017-06-06 20:23] rwieruch commented on #28
Added by @jasonkwong11 in https://github.com/rwieruch/favesound-redux/pull/35 🎉

[2017-06-06 20:23] #28 closed

[2017-06-06 20:28] chriszhangusc commented on #32
Working on it.

[2017-06-07 04:39] chriszhangusc commented on #32
I have finished the router upgrade, however, I want to propose some changes:

1. Change browse URL from http://localhost:8080/browse?genre=Minimal to http://localhost:8080/browse/Minimal because in react router v4 we need to parse the query string, the second way it will make the code easier and cleaner to parse the genre from URL.
[See:](https://github.com/ReactTraining/react-router/issues/4410)

[2017-06-07 06:21] rwieruch commented on #32
Everything sounds great! I would say, go for it 👍

[2017-06-07 18:43] chriszhangusc commented on #37
@rwieruch I would say just try to switch to another clientId and see how it goes.

I think it would also be better to use client_id instead of oauth_token to make the audio src requests because oauth_token is valuable since it will take up to a month for SoundCloud to give you one which sucks by the way. client_id, on the other hand, does not have this problem. We can have a pool of client_ids and

[2017-06-07 20:37] rwieruch commented on #32
https://github.com/rwieruch/favesound-redux/pull/40 perfectly done by @MiniPekka

[2017-06-07 20:37] #32 closed

[2017-06-07 20:40] rwieruch commented on #37
@MiniPekka I never used the new registration process by SoundCloud. Wouldn't you have to wait for the client_id as well for one month? I had this problem in my [React Redux SC tutorial ](https://www.robinwieruch.de/the-soundcloud-client-in-react-redux/) when SoundCloud changed their registration process and readers of the tutorial had to wait for their key. I am curious because you speak about the

[2017-06-07 21:23] chriszhangusc commented on #37
@rwieruch Sorry my bad, you are right, you'll also have to wait to get the client_id. I've mistaken it for something else here. However, I got a bunch of client_ids, maybe I can do a temporary fix with one of my client_ids to make it work again.

[2017-06-07 21:42] rwieruch commented on #37
@MiniPekka that sounds great. Either way, I think I have to try again to write up someone from SoundCloud about thei registration process...

[2017-06-08 00:51] chriszhangusc commented on #36
I looked into the issue and found that SoundCloud API v1 will give you PNG while V2 will give you JSON, I tried JSON and everything was alright. So the problem is with PNG not JSON. If that is the case, we can either write a backend proxy API to call SoundCloud API v2 for us since we can not directly call SC API v2 from the browser.

[2017-06-08 06:45] rwieruch commented on #36
@MiniPekka Ah, I remember at least that there was a difference between PNG and JSON formatted waveforms. You can have a look at the `WaveformSc` component that is already able to deal with both representations.

The rule was: When not logged in, you have a PNG as `waveform_url` in your track entity. When logged in, you have JSON (or it was the other way around). I wasn't aware that SoundCloud chan

[2017-06-08 07:14] chriszhangusc commented on #36
@rwieruch Actually, we can just replace the .png to .json in waveform_url and everything is fine right now. I'll make a pull request fixing this as well as tracks not being able to play issue.

[2017-06-08 20:42] rwieruch commented on #37
Fixed in https://github.com/rwieruch/favesound-redux/pull/43 by @MiniPekka

[2017-06-08 20:42] #37 closed

[2017-06-08 20:43] rwieruch commented on #36
Fixed in https://github.com/rwieruch/favesound-redux/pull/43 by @MiniPekka 🎉

[2017-06-08 20:43] #36 closed

[2017-06-08 21:00] rwieruch commented on #37
@MiniPekka are you active on Twitter? Would like to reach you there :)

[2017-06-09 02:58] chriszhangusc commented on #37
@rwieruch Yeah, I lost my old one and just started a new one today, I'll be active there.
@AngryChris_Z

[2017-06-09 04:04] MiniPekka opened #44 "Improvements: Automatically login if we have a valid oauth_token in cookie."
After we successfully login and then close the app without logging out, the oauth_token would still be in the cookie, next time when we visit out app all requests will be made with oauth_token but our app would be in logged out state.
So should we check if oauth_token is there, if it is, we perform a login and fetch everything related to this user?
Or should we log the user out when we close the a

[2017-06-18 10:14] rwieruch commented on #18
Added .nvmrc file. When you use nvm to manage your node versions, you can type `nvm use` to use the according node version for this project.

[2017-06-18 10:15] rwieruch commented on #44
Either way would be ok I guess. Maybe we should logout to keep the complexity low.

[2017-06-18 17:13] chriszhangusc commented on #44
OK, I'm on it.

[2017-06-18 21:05] MiniPekka opened #47 "Errors: npm run test"
This will happen when I tried to run npm test, probably related to React versions.
<img width="891" alt="screen shot 2017-06-18 at 2 04 28 pm" src="https://user-images.githubusercontent.com/15867071/27264237-1cf28d88-542f-11e7-8c21-dfd2b31af218.png">

[2017-06-18 21:08] #44 closed

[2017-06-18 21:09] chriszhangusc commented on #47
Upgrading react-addons-test-utils to the latest version will resolve this issue. I'll create a PR for it.

[2017-06-19 01:50] chriszhangusc commented on #47
PR: #48

[2017-06-19 17:36] #47 closed

[2017-06-19 17:38] rwieruch commented on #27
Merged in https://github.com/rwieruch/favesound-redux/pull/50

[2017-06-19 17:39] #27 closed

[2017-06-20 00:23] MiniPekka opened #51 "[Minor] Nesting anchor tag warning"
1. When clicking play button, this warning pops up.
<img width="1421" alt="screen shot 2017-06-19 at 5 21 20 pm" src="https://user-images.githubusercontent.com/15867071/27311131-bcb289a6-5513-11e7-89b1-f7c5b8205f61.png">

2. It sometimes appears in a weird position like the following:
<img width="305" alt="screen shot 2017-06-19 at 10 00 25 pm" src="https://user-images.githubusercontent.com/158670

[2017-06-20 06:29] rwieruch commented on #51
What happened to the PR? :) https://github.com/rwieruch/favesound-redux/pull/52

[2017-06-20 06:34] chriszhangusc commented on #51
@rwieruch That one just resolves the first issue, I'll create another one to fix them all at once.

[2017-06-20 19:30] MiniPekka opened #54 "[Improvements] Add tooltips for buttons in player"
Some tooltips could be helpful for the user to know what each button is about. For example when user hover the mouse on the share button, we show a tooltip saying "Copy song url to clipboard".

[2017-06-20 19:46] MiniPekka opened #55 "[Bugs] Errors after clicking clear queue in playlist"
<img width="797" alt="screen shot 2017-06-20 at 12 44 09 pm" src="https://user-images.githubusercontent.com/15867071/27352657-551105cc-55b6-11e7-82e7-ba05ff02ecb4.png">

[2017-06-20 21:14] rwieruch commented on #55
Oh damn, could this have happened after https://github.com/rwieruch/favesound-redux/pull/50 ? Maybe I need to check again this PR or even revert it.

[2017-06-20 21:14] rwieruch commented on #54
Sounds great!

[2017-06-20 21:14] rwieruch commented on #51
That one was merged, right?

[2017-06-20 21:42] chriszhangusc commented on #51
Yes, it's merged: )

[2017-06-20 21:42] #51 closed

[2017-06-20 21:43] chriszhangusc commented on #55
Let me see if I can fix it later today: )

[2017-06-21 04:44] MiniPekka opened #57 "[Bug] Player state inconsistent"
When the user clicks "clear queue", the isPlaying in player state is still true.

[2017-06-21 04:49] chriszhangusc commented on #55
PR: #56

[2017-06-21 05:22] chriszhangusc commented on #57
PR #58

[2017-06-21 05:37] MiniPekka opened #59 "[Bug] When removing the last track in playlist, the next track returns undefined"
This is caused by exceeding array boundary, I'll create a simple fix for it.

[2017-06-21 05:43] chriszhangusc commented on #59
PR: #60

[2017-06-21 15:29] #55 closed

[2017-06-21 15:29] #57 closed

[2017-06-21 15:29] rwieruch commented on #59
So many fixes, well done @MiniPekka 🏅

[2017-06-21 15:29] #59 closed

[2017-06-22 03:39] chriszhangusc commented on #54
PR: #61

[2017-06-22 05:42] MiniPekka opened #62 "[Bug] Errors when clicking on genre links"
Screenshot:
<img width="1895" alt="screen shot 2017-06-21 at 10 40 15 pm" src="https://user-images.githubusercontent.com/15867071/27418882-aff875b6-56d2-11e7-897c-ec5d3017b560.png">

This could be caused by waveform component.

[2017-06-24 09:42] #54 closed

[2017-06-24 09:44] rwieruch commented on #62
I assume that was the fix https://github.com/rwieruch/favesound-redux/pull/63 ? 🎉

[2017-06-24 15:12] chriszhangusc commented on #62
Yeah they're fixed in PR #63.

[2017-06-24 15:12] #62 closed

[2017-06-26 06:26] MiniPekka opened #64 "[Bug] Favorites long title being squeezed"
<img width="499" alt="screen shot 2017-06-25 at 11 25 25 pm" src="https://user-images.githubusercontent.com/15867071/27526902-b7390394-59fd-11e7-881d-b3b74acf4661.png">

[2017-06-26 07:25] rwieruch commented on #64
In this case you mean for the "Priince Muzik"? Yes, I think it happens when people use Emojis. For the "Mixpak - Popcaan" and the hover buttons I think it is fine, since the buttons are not always visible.

[2017-06-26 22:51] chriszhangusc commented on #64
Yes, I think the hover buttons are fine. PR: #65

[2017-06-27 07:36] #64 closed

[2017-06-28 07:54] MiniPekka opened #66 "[Refactor] Use callback refs instead of string refs"
I think we should refactor string refs to callback refs since the former has some issues as per react documentation: https://facebook.github.io/react/docs/refs-and-the-dom.html

[2017-06-28 08:20] MiniPekka opened #67 "[UI] Tooltips not having enough space to display on top"
When the screen size is small, tooltips will not have enough space to be displayed on top of the button.
<img width="222" alt="screen shot 2017-06-28 at 1 12 45 am" src="https://user-images.githubusercontent.com/15867071/27626984-f7b09192-5b9e-11e7-9b6c-f543b9e083a2.png">

I tried to adjust the player left and right margin to 10%, it will have enough space to display. However, this will change how

[2017-07-31 04:22] jasonkwong11 opened #68 "New feature proposal: Repeat button on the navbar"
I think it would be a nice addition to add a button on the nav to repeat the current song, similar to the SoundCloud nav:
<img width="274" alt="screen shot 2017-07-30 at 9 20 58 pm" src="https://user-images.githubusercontent.com/17104743/28762663-1db314e0-756d-11e7-9a3a-89ff22b1922a.png">

[2017-07-31 06:11] rwieruch commented on #68
Sounds great to me :)

[2017-09-29 07:02] rwieruch opened #69 "Upgrade to React 16"
React 16 got [released](https://facebook.github.io/react/blog/2017/09/26/react-v16.0.html) and there are practically no changes to the external API of React. Perhaps it would be an easy win to upgrade the project to React 16. Someone keen to do it?

[2017-10-03 13:29] #69 closed

[2017-10-03 13:32] rwieruch commented on #66
Oh. Didn't see that @MiniPekka Where are the refs used? Maybe it would be great to update it properly, because the project is used by React newcomers to see recent practices.

see https://www.robinwieruch.de/react-ref-attribute-dom-node/

[2017-10-03 13:34] rwieruch commented on #67
I guess the player looks alright. Only the title of the track could have some more space and perhaps a bit of margin?

edit: Okay, I saw that this had nothing to do with your change. It was already before that the title is very squeezed. I would say adjusting the margins is alright! 👍

<img width="969" alt="screen shot 2017-10-03 at 20 42 26" src="https://user-images.githubusercontent.com/2479967/

[2017-10-03 21:16] Duske commented on #66
I would like to tackle this issue if that's okay :)

[2017-10-04 01:53] rwieruch commented on #66
I think @MiniPekka didn't start yet, so go for it :) Thank you for your help!

[2017-10-04 08:53] Duske commented on #66
There seems to be an issue which I'm still trying to wrap my head around:

The only component that needs to be adjusted is the Player component, where [ref is used to control the <audio> element](https://github.com/rwieruch/favesound-redux/blob/master/src/components/Player/index.js#L223).
Unfortunately, a simple rewrite with a ref callback function does not do the trick, the audio component ref do

[2017-10-04 15:57] gokulchandra commented on #66
@Duske I think you missed out refactoring the references.
@rwieruch Please take look at PR #73 .

[2017-10-04 16:13] Duske commented on #66
Damn, I could swear I tried this as well :D Thanks for pointing out my mistake, looks good to me :)

[2017-10-05 02:17] rwieruch commented on #66
Thanks so much to both of you for contributing to this repository 🎉

[2017-10-05 02:19] #66 closed

[2017-10-23 07:10] angelom88 opened #74 "After logging in it redirects to this page."
http://www.favesound.de/callback?code=4db5405237b0f7b315c61215d6490189&signed_up=1&state=SoundCloud_Dialog_223b9#access_token=1-231734-339559294-32509ffa28ba1&scope=non-expiring

[2017-10-27 06:43] chriszhangusc commented on #18
I ran into this problem again with node 8.0 installed on my machine, and to make sure new user with node 8 does not get confused by this issue, I think we should update the node-sass to 4.5.3 to resolve this issue. (Also see: https://github.com/sass/node-sass/issues/1984)

[2017-10-27 07:19] rwieruch commented on #18
Oh my .... Sass :) Did it work for you when you updated node-sass? If so, then I would say go for it 👍 I guess it would be great to update it for its sister project as well: https://github.com/rwieruch/favesound-mobx

[2017-10-29 19:42] MiniPekka opened #77 "Improve authentication redirect logic"
First off, the current logic is that if user access dashboard without authentication, it gives back a blank dashboard page, however, the dashboard should be a protected route that should only be shown when authenticated.

Second, when the authentication process failed for whatever reason or canceled by the user, it might be better to redirect to the home page instead of returning a blank dashboard

[2017-10-30 04:39] #77 closed

[2017-11-02 21:31] chriszhangusc commented on #74
I got this error too. Maybe it's because @rwieruch hasn't updated the production server for a while?

[2017-11-25 18:41] ohadschn commented on #74
Not sure what this page displayed when this issue was first created, but here's how it looks like for me:
![image](https://user-images.githubusercontent.com/8555641/33233588-0ab2f2be-d221-11e7-9d85-d9be4f6502e6.png)

[2017-11-25 22:55] rwieruch commented on #74
Yes. I need to update the production server. It should work on your local machine with this repository though :)

[2017-11-26 00:20] ohadschn commented on #74
@rwieruch fair enough :)
Any plans for a deployment in the near future?

[2017-11-26 06:19] rwieruch commented on #74
Should be fixed now. Can you check if it works for you?

FYI: As a quick fix, I just had to send all requests to the index.html file of my build folder (see https://stackoverflow.com/questions/7027636/nginx-send-all-requests-to-a-single-html-page). Didn't set it up properly when I moved to DigitalOcean.

[2017-11-26 10:53] ohadschn commented on #74
Login works for me :)

[2017-11-26 11:02] ohadschn opened #82 "Refresh signs me out"
If I hit the refresh button, or close and re-open the page, I get signed out.

I saw issue https://github.com/rwieruch/favesound-redux/issues/44 which might be related, but if this was intentional I would humbly suggest you reconsider - practically all sites I can think of retain the OAuth cookie and keep you signed in as long as the token is valid...

[2017-11-26 11:04] ohadschn opened #83 "Search artist name too"
Currently the search box only searches the mix's title, it would be nice if it searched the artist's name too.

[2017-11-26 11:09] ohadschn opened #84 "Infinite scroll only works if there are enough results to fill the screen (and create a scrollbar)"
Say I filter my feed by something (text or mix/track) and few (or no) results come up.

If there aren't enough results to fill the current screen and create a scrollbar, I can't invoke infinite scrolling to try and load more.

Perhaps a manual "load more" button would be the easiest way around this.

[2017-11-26 11:11] ohadschn opened #85 "Add Refresh button"
A refresh button that gets the newest tracks would be great, especially considering browser refresh results in sign-out (https://github.com/rwieruch/favesound-redux/issues/82).

[2017-11-26 11:22] ohadschn opened #86 "Open links in a new tab/window"
It is a good practice for media sites to open links in a new tab/windows (using `target=“_blank”`, preferably with `rel="noopener"` for better security and performance) as to not interrupt currently playing audio/video.

This is will be especially important as long as navigating out of the page incurs sign-out (https://github.com/rwieruch/favesound-redux/issues/82).

[2017-11-26 11:26] ohadschn opened #87 "Add tooltips to plays/favorites/reposts/comments/downloads icons"
While I agree they are mostly self explanatory, I believe it would be better to add hover tooltips for usability purposes:

![image](https://user-images.githubusercontent.com/8555641/33239574-52461cfa-d2ad-11e7-9e61-9d1b9dedb8f3.png)

[2017-11-26 11:26] ohadschn opened #88 "Play count is broken"
It shows as 0 for all tracks, including extremely popular ones:

![image](https://user-images.githubusercontent.com/8555641/33239582-72b6c5ac-d2ad-11e7-9764-36a097214d47.png)

[2017-11-26 11:29] ohadschn opened #89 "Direct downloads"
It would be great if we could download songs directly from favesound, possibly by clicking the download count button.

[2017-11-26 11:31] ohadschn opened #90 "SyntaxError: Unexpected end of JSON input in home feed infinite scroll"
I'm sometimes getting the following error while trying to invoke infinite scroll in my home feed:

[code]

![image](https://user-images.githubusercontent.com/8555641/33239600-f8fd7002-d2ad-11e7-86b3-5aba1b59ddab.png)

[2017-11-26 11:32] ohadschn opened #91 "Add a link from the site (favesound.de) to this GitHub repository (github.com/rwieruch/favesound-redux)"
Would be great for people who want to know more, open issues, or even contribute :)

[2017-11-26 11:37] ohadschn opened #92 "Display tags"
- [ ] Tags  are super-useful when you have several genres in your feed and you want to know which track is which.
- [ ] Being able to filter by tags (preferably using a multi-select dropdown) would be even better!

[2017-11-26 11:42] ohadschn commented on #92
@rwieruch apologies for the bombardment, I hope I was not too bold. It's just that I was only recently exposed to this site and I really like it (especially since it saved me the effort of building something similar from scratch) and thought I could provide my feedback.

Perhaps I will even tackle some of these myself when I'm done with some other projects I have :)

BTW, there is a similar projec

[2017-11-26 11:48] ohadschn commented on #87
Moved to https://github.com/rwieruch/favesound-redux/issues/89

[2017-11-26 11:51] ohadschn opened #93 "Add favicon"
For a site named **fav**esound I think a nice prominent favicon would be fitting :)

![image](https://user-images.githubusercontent.com/8555641/33239720-9796f858-d2b0-11e7-8e7b-63f6c63be6d2.png)

[2017-11-26 13:19] #74 closed

[2017-11-26 13:20] rwieruch commented on #93
Good idea! Can you come up with one? :)

[2017-11-26 13:22] rwieruch commented on #92
No problem at all! Thanks for opening these Issues. They are great opportunities for newcomers to React to learn something new in an existing project! I will try to advertise these issues on Twitter :) But feel free to solve them yourself too!

[2017-11-26 13:23] rwieruch commented on #92
Regarding the issue: I like the idea! I guess the only difficult decision is where to put those extra filters in the UI?

[2017-11-26 13:23] rwieruch commented on #91
Agreed. Let's find a sweet spot for the link :)

[2017-11-26 13:24] rwieruch commented on #90
This would need some investigation. I never got this error myself.

[2017-11-26 13:26] rwieruch commented on #89
That's a big one, but I like it. Maybe someone who tackles it can go through each action step by step. This would keep the PRs small instead of having one huge PR for all clickable buttons.

[2017-11-26 13:38] ohadschn opened #94 "Serve site in HTTPS"
In the age of "HTTPS everywhere" it is highly recommended, especially considering OAuth tokens are involved.

There are two free options to achieve this:
1. Serve off CloudFlare and enable SSL (the "Flexible" options is zero-setup)
2. Let's Encrypt. I wrote a WebJob that does this automatically for Azure Web Apps: https://github.com/ohadschn/letsencrypt-webapp-renewer.

[2017-11-26 13:43] ohadschn commented on #93
There are many options, for example:
https://www.flaticon.com/search?word=soundcloud
https://www.iconfinder.com/search/?q=soundcloud&price=free

Most of them require attribution though, is that an issue?

[2017-11-26 13:45] ohadschn commented on #92
Well one easy way would be to add it to the list of things filtered by the current search box.

It might even be better - say I want to listen to rock mixes, what do I care if it's in the title, tag, or even artist name? They are all very likely to be what I want...

[2017-11-26 13:47] ohadschn commented on #91
Well there is no "bottom" (due to infinite scrolling)... maybe just left to the login/logout link at the top right?

[2017-11-26 13:56] ohadschn opened #95 "Expose the generic browse/KEYWORD functionality"
I noticed that navigating to `http://www.favesound.de/browse/FOO` gives me tracks related to FOO (I'm guessing using FOO as a keyword to the SoundCloud search API).

This is super useful, so I don't see a reason to limit it to just the links at the top (Tech House, Minimal, Deep House... we aren't all German 😉).

It could be as simple as a button that pops up a search dialog and then navigates to

[2017-11-26 14:06] ohadschn opened #96 "Add date filtering to browse/KEYWORD view"
SoundCloud's default sorting algorithm, as well as sorting by plays/likes/reposts heavily favor old tracks (since they had a lot of time to gain popularity). For example, the first track on the main favesound page is four years old!

It would be great to have the option to filter by date, like SoundCloud allows ("past year", "past month" and so forth).

This isn't an issue when logging in, because

[2017-11-26 14:10] ohadschn commented on #86
Not sure about the direct track link BTW, because that would result in the track starting to play in SoundCloud concurrently. Maybe that one should be a regular link (that opens in the same tab).

[2017-11-26 14:12] ohadschn opened #97 "Filter by downloadability"
It would be very useful to be able to filter by tracks that can be downloaded. Personally I'm downloading mixes to listen in my car, so that's key information to have.

[2017-11-27 00:21] rwieruch commented on #93
I don't think so, it should be okay just mentioning it in the GitHub repo?

[2017-11-27 01:58] rwieruch commented on #67
@MiniPekka do you still have this change somewhere around? We could merge it in a PR :)

[2017-11-27 03:08] yugoja commented on #88
This looks like a perfect first contribution opportunity for me.
Can I claim it?

[2017-11-27 03:30] chriszhangusc commented on #67
@rwieruch Sure, I'll look into it.

[2017-11-27 03:36] rwieruch commented on #88
Sure @yugoja :) Looking forward to it!

[2017-11-27 04:59] chriszhangusc commented on #84
Hi @ohadschn, could you please provide the case where you can not load more content?  I can't reproduce it.

[2017-11-27 05:01] chriszhangusc commented on #82
Yeah, I agree. Currently, the cookie expires when the session is done, maybe we can set an expiration time for the cookie and automatically login when current oauth token in the cookie is valid?

[2017-11-27 05:03] #67 closed

[2017-11-27 05:04] chriszhangusc commented on #90
Maybe it is a good idea to activate source-map in webpack for better debugging experience?

[2017-11-27 09:42] ohadschn commented on #93
In the [FlatIcon case](https://file000.flaticon.com/downloads/license/license.pdf), doesn't seem so:

I don't think you can do it in [Creative Commons](https://wiki.creativecommons.org/wiki/Best_practices_for_attribution#Attribution_in_specific_media) either:

I am not a lawyer, but if we don't want to put an attribution on the site itself I think it may be safest to use an icon that doesn't requi

[2017-11-27 09:48] ohadschn commented on #84
Sure:

1. Go to the main site and put `drumcode` in the search filter. For me it finds 3 results.
2. Since there is no scrollbar (only 3 results), you can't scroll down to load more.
3. Now clear the filter, scroll down (invoke infinite scroll a few times), and put `drumcode` in the filter again
4. Note how you have more results now. Ideally, you should have been able to invoke the infinite scroll

[2017-11-27 09:52] ohadschn commented on #82
I don't think you need to set the expiration for the cookie yourself, you can just use whatever expiration policy you get with the SoundCloud token. In other words just try to use the token they gave you until you get 401, at which point re-authenticate.

[2017-11-27 10:13] rwieruch commented on #90
Didn't see this PR @MiniPekka https://github.com/rwieruch/favesound-redux/pull/81 Should I just merge it for source maps?

[2017-11-29 03:30] chriszhangusc commented on #82
@ohadschn Yes, I think it should work to use the token to check for 401 by the /me endpoint and if we do get a 401, we can remove the oauth token from the cookie and logout the current user.

[2017-11-29 03:32] chriszhangusc commented on #90
@rwieruch Yeah, I think source map would be great for development. And I also think it would be a great opportunity to upgrade to webpack 3?

[2017-11-29 03:47] rwieruch commented on #90
Sure! Would be awesome to see it upgraded 🎉

[2017-11-29 11:59] ohadschn commented on #82
Logout and ideally open up the login window (to save the user from noticing he has been logged out and clicking login button again himself).

[2017-12-02 18:27] chriszhangusc commented on #90
@rwieruch I have upgraded to webpack3. #99

[2017-12-02 18:30] MiniPekka opened #100 "Move babel configs to .babelrc file."
Instead of configuring babel in 'package.json', I think it would be better to move them to its own file as recommended in babel website.

[2017-12-02 18:35] MiniPekka opened #101 "Fixing react-hot-loader"
Should we remove react-hot-loader because it states if we use babel we do not need it [here](https://github.com/gaearon/react-hot-loader#using-webpack-loader-instead-of-babel-plugin)?

[2017-12-02 20:29] chriszhangusc commented on #82
@rwieruch Any suggestions? I think this is a great improvement.

[2017-12-02 22:54] rwieruch commented on #82
Sounds great. Would you like to do it?

[2017-12-02 22:57] rwieruch commented on #101
If it doesn't add any value, removing it sounds reasonable! 👍

[2017-12-02 22:57] rwieruch commented on #100
Sounds good! 👍

[2017-12-02 22:59] rwieruch commented on #90
Wow. Nice @MiniPekka 🎉 🎉  I will merge it!

[2017-12-02 22:59] #90 closed

[2017-12-02 23:31] chriszhangusc commented on #82
Yeah, I'm on it.

[2017-12-03 11:29] rwieruch commented on #82
@MiniPekka I added you as collaborator to the project. You introduced so many improvements by now, I think it would make sense to have someone else to help me out organizing the PRs :) Feel free to merge things on your own too!

[2017-12-04 02:11] chriszhangusc commented on #101
I made a mistake here. It is not set up properly so I thought it is not working. I'll create a PR to fix it.

[2017-12-05 04:40] chriszhangusc commented on #101
Merged #102

[2017-12-05 04:40] #101 closed

[2017-12-05 04:41] chriszhangusc commented on #100
Merged #102

[2017-12-05 04:41] #100 closed

[2017-12-09 22:18] chriszhangusc commented on #82
I have a question about our session state. Currently, our session state holds an oauth_token and a dialog_session. I am not sure if it is necessary to store these two pieces of data because oauth_token is stored in Cookie and dialog_session is never used anywhere.
The only place that used session object is checking if there is a current user logged in. I think if we remove oauth_token and dialog_s

[2017-12-09 22:20] MiniPekka opened #103 "Add a link to dashboard"
There should be a link for the signed in user to access the dashboard page instead of having to type in url.

[2017-12-09 23:38] rwieruch commented on #82
That's seems right without looking at the code. I don't remember how I implemented it back in the days. So if you have the feeling it could be simplified, please go for it! :)

[2017-12-09 23:38] rwieruch commented on #103
Good point!

[2017-12-23 00:35] jasonkwong11 commented on #68
Thanks to @gokulchandra and @MiniPekka for completing this. Closed

[2017-12-23 00:35] #68 closed

[2017-12-29 04:16] erikmartinessanches opened #105 "Tracks appear multiple times when scrolling in Safari 11.0.2"
Cool project.
Steps to reproduce:

1. Sign in
2. There is only one track from someone I follow
![screenshot 2017-12-29_05-13-42](https://user-images.githubusercontent.com/4912935/34429325-16cdfea4-ec57-11e7-8fdf-61d4abb512d1.png)
3. If I scroll, the track appears a few more times. This step can repeat endlessly.
![screenshot 2017-12-29_05-09-08](https://user-images.githubusercontent.com/4912935/34

[2017-12-29 04:20] erikmartinessanches opened #106 "Strange characters appear between artist and track name in Safari 11.0.2"
![screenshot 2017-12-29_05-18-30](https://user-images.githubusercontent.com/4912935/34429383-de7dcc0e-ec57-11e7-9ef9-20e8ac262338.png)
The actual [track](https://soundcloud.com/keeganthedeadbeat/flight-risk).

[2017-12-29 04:27] erikmartinessanches opened #107 "Play button disappears in narrow windows and waveform becomes too long"
This leaves me unable to press play, because the bottom controls do not show until something is played.
![screenshot 2017-12-29_05-22-41](https://user-images.githubusercontent.com/4912935/34429445-6c95938c-ec58-11e7-9dd9-a0362ea82e9a.png)

[2017-12-29 04:28] erikmartinessanches opened #108 "Impossible to type upper case letters in the search box."

[2017-12-29 04:31] erikmartinessanches opened #109 "Queue or playlist?"
The interface uses both words, please consider using one exclusively.

[2017-12-29 07:20] rwieruch commented on #109
Good point. Would you want to create a PR for using Playlist? :)

[2017-12-29 07:21] rwieruch commented on #108
I think this is fine, because everything is lower cased (search term and titles of tracks).

[2017-12-29 07:21] rwieruch commented on #107
I guess that's a whole responsive design issue which isn't introduced at all yet.

[2017-12-29 07:22] rwieruch commented on #106
Oh. I didn't know this. Maybe a good first time contributor issue?

[2017-12-29 07:23] rwieruch commented on #105
Didn't know about it. Maybe a Safari user could pick this up! :)

[2017-12-29 07:48] erikmartinessanches commented on #109
I did it in #110 :)

[2017-12-29 07:56] erikmartinessanches commented on #108
Track and artist names appear mixed case to me on Safari.
![screenshot 2017-12-29_08-51-31](https://user-images.githubusercontent.com/4912935/34432201-92d67ba2-ec75-11e7-8039-7c4d4abc345e.png) Allowing mixed case in the search bar would be more conventional. I've never encountered this situation and found myself double checking whether I pressed shift. A minor annoyance but worth considering.

[2017-12-29 08:39] rwieruch commented on #108
Ah okay. Seems like a good improvement! :)

[2017-12-29 08:39] rwieruch commented on #109
Great! 💯

[2017-12-29 08:39] #109 closed

[2017-12-29 21:28] ElishebaW commented on #103
@rwieruch I'll take this one!

[2017-12-29 22:20] ElishebaW commented on #103
@rwieruch I'll take this one!

[2017-12-29 22:30] rwieruch commented on #103
Sounds good @ElishebaW 🎉

[2018-01-03 02:21] ElishebaW commented on #103
Hey @rwieruch , this issue can be closed :)

[2018-01-03 02:24] ElishebaW commented on #88
Looks like this is still an issue. @yugoja Are you still working on this?

[2018-01-03 02:25] ElishebaW commented on #91
@rwieruch I'll take this one!

[2018-01-03 21:21] rwieruch commented on #91
Great @ElishebaW Do you have any good spot for it? :)

[2018-01-03 21:22] #103 closed

[2018-01-04 02:53] ElishebaW commented on #91
@rwieruch I was thinking right under the logo or directly left of the logo. What do you think?

[2018-01-04 09:19] rwieruch commented on #91
Sounds good :)

[2018-01-06 16:04] chriszhangusc commented on #91
Merged #112

[2018-01-06 16:04] #91 closed

[2018-02-11 13:41] gokulchandra commented on #88
@ohadschn The API that is used to fetch the tracks does not return the count. In the response the **playback_count** is 0 for all the tracks.

`"playback_count": 0`

[2018-02-11 13:48] rwieruch commented on #88
It used to work when I implemented it a while ago. I hope they didn't change the API.

[2018-02-11 14:09] gokulchandra commented on #88
I checked it, the API sends 0 for all tracks. Maybe they provide this info through another API.

[2018-02-11 14:45] gokulchandra commented on #83
By `Artist` do you mean the **Username** of the user who posted it on Soundcloud?

[2018-02-11 14:46] rwieruch commented on #88
I guess it's just broken and nobody complained about it :)

[2018-02-14 03:12] ohadschn commented on #83
Yes, exactly.

[2018-02-19 19:12] #83 closed

[2018-03-06 00:18] ElishebaW commented on #106
I'll take this one!

[2018-03-06 09:30] #106 closed

[2018-06-01 00:31] ElishebaW commented on #85
Maybe we should not log someone out when the page refreshes. The session needs to be stored better. @rwieruch wrote about this. https://www.robinwieruch.de/local-storage-react/ Creating an issue for that.

[2018-06-01 00:46] ElishebaW opened #119 "Use local storage so users don't get logged out when page refreshes"
- [ ] Make login use local storage

[2018-06-01 00:55] ElishebaW commented on #119
Hey @rwieruch , can you assign me to this?

[2018-06-01 00:57] rwieruch commented on #119
Sure!

[2018-07-19 13:22] Alameen007 commented on #93
Hey @rwieruch, can you assign me to this?

[2018-07-19 14:21] rwieruch commented on #93
Sure @Alameen007

[2018-07-21 09:33] rwieruch commented on #93
Added in https://github.com/rwieruch/favesound-redux/pull/121 by @Alameen007

[2018-07-21 09:33] #93 closed

[2018-09-20 10:53] sminnikantiosius opened #123 "Not able to run it without SSL certificate"
Hi,

  May be with the recent changes at the sound clound api level, we are not able to access it with http://localhost:8080 and can only be able to access with https. Please help how to workaround this issue to consume it in the development environment. Thank you.

[2018-09-21 06:55] sminnikantiosius commented on #123
Just ran the webpack-dev-server with the option --https and it worked

[2018-09-21 06:55] #123 closed

[2018-10-17 04:47] VikasDayananda opened #124 "Need help: Error occurs when trying to build or start"
I am working on windows. Build fails with below error. Any Insights?

ERROR in ./node_modules/css-loader!./node_modules/sass-loader!./styles/index.scss
Module build failed: Error: ENOENT: no such file or directory, scandir 'C:\Users\Desktop\open source\favesound-redux\node_modules\node-sass\vendor'
    at Object.fs.readdirSync (fs.js:904:18)
    at Object.getInstalledBinaries (C:\Users\Desktop\ope

[2018-10-17 04:49] rwieruch commented on #124
Checkout this issue https://github.com/rwieruch/favesound-redux/issues/18 where the sass rebuild is mentioned. I hope it helps you to get started.

[2018-10-17 04:56] VikasDayananda commented on #124
Thanks.Below comment fixed the issue-
https://github.com/rwieruch/favesound-redux/issues/18#issuecomment-280576453

[2018-10-17 04:56] #124 closed

[2018-10-20 22:47] VikasDayananda commented on #96
Hey @rwieruch   , can you assign me to this?

[2018-10-21 00:52] rwieruch commented on #96
Sure. Looking forward to your implementation :)

[2018-10-22 04:26] VikasDayananda commented on #96
@rwieruch  I went ahead and implemented the data sorting. Currently, we can sort by last "6 months", "a year", or "older than that". We can always add more options to it which fits our data best. Did not include "Past Month" because there is very less or almost no tracks for that filter. Currently, it looks like this. Also, the sort functions only works for first set of activities we see. We will

[2018-10-25 05:42] greenkeeper[bot] opened #125 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-28 01:28] VikasDayananda commented on #96
@rwieruch Created PR #127

[2019-05-22 19:49] malithmcr commented on #88
Seems to be a bug that never fixed from 2016.
If you try their v2 api, you can get correct playback_count.
https://api-v2.soundcloud.com/tracks/260065214?client_id=a281614d7f34dc30b665dfcaa3ed7505

[2020-03-03 16:29] wkjin112 commented on #89
That's a big one, but I like it. Maybe someone who tackles it can go through each action step by step. This would keep the PRs small instead of having one huge PR for all clickable buttons.